.item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: header;
}

.item2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: menu;
}

.item3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.item4 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: right;
}

.item5 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: footer;
}

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header header header header header header' 'menu main main main right right' 'menu footer footer footer footer footer';
  grid-gap: 5px;
  background-color: #333;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 25px;
}

/* Medium screen devices (768px and above) */
@media only screen and (max-width: 1000px) {
  .grid-container {
    display: contents;
        grid-template-areas: 'header header header header header header' 'menu main main main right right' 'menu footer footer footer footer footer';
    grid-gap: 5px;
    background-color: #333;
    padding: 10px;
  }
  .grid-container > div {
    background-color: rgba(51, 51, 51, 0.103);
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
  }
}

html {
  background: url(https://wallpapercave.com/wp/Quvu2gR.jpg) no-repeat center center fixed;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  form {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 800;
  }
}

body {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: Gill Sans, Gill Sans MT, Calibri, MS, TimesNewRoman;
}

#topbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navpage {
  float: left;
}

.navpage:hover {
  background-color: #333;
  padding: 2px;
}

.navpage a {
  display: block;
  color: white;
  text-align: center;
  /* shorthand example */
  padding: 14px 16px;
  text-decoration: none;
}

/* Medium screen devices (768px and above) */
@media only screen and (max-width: 1000px) {
  .navpage {
    float: center;
  }
  .navpage:hover {
    background-color: #333;
    padding: 0px;
  }
}

/* pseudo-elements create */
/* p::after {
  content: '?';
} */
/* Specificity 0,0,0,0. Inline-styles,id,class,element */
body h1 {
  text-align: center;
  padding: 5px;
}

body h1.splindedtxt {
  padding: 15px;
}

table {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #333;
  width: 300px;
  height: auto;
  margin: 10px;
}

.Gaara {
  width: 10px;
  height: 10px;
  margin-left: 30px;
}

#goonDune {
  position: relative;
}

/* Flexbox example */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  font-size: 20px;
}

/* nesting */
form .formbuttons {
  float: inherit;
}

.typefields:hover {
  background: rgba(255, 255, 0, 0.11);
  color: black;
}

.trap {
  font-size: 50px;
  color: #333;
  text-align: center;
  margin-block: 1em;
  display: none;
}

div#controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333;
  padding: 5px;
}

.buttons {
  padding: 10px;
}

.item2 p,
h3 {
  margin: 35px 35px 35px 35px;
}
/*# sourceMappingURL=stylesheet.css.map */