// varibles for reusable code
$bkgdColor: rgba(255, 255, 255, 0.8);
$mainFont: #333;
//modular code
@import './grid';
//@mixin /@extend to use partials(can overide too)
@mixin centered($Bolder) {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: $Bolder;
}

html {
  background: url(https://wallpapercave.com/wp/Quvu2gR.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  form {
    @include centered(800);
  }
}

body {
  background-color: $bkgdColor;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#topbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navpage {
  float: left;

  // /* pseudo-classes using & symbol
  &:hover {
    background-color: $mainFont;
    padding: 2px;
  }
}

.navpage a {
  display: block;
  color: white;
  text-align: center;

  /* shorthand example */
  padding: 14px 16px;
  text-decoration: none;
}
/* Medium screen devices (768px and above) */
@media only screen and (max-width: 1000px) {
  .navpage {
    float: center;

    // /* pseudo-classes using & symbol
    &:hover {
      background-color: $mainFont;
      padding: 0px;
    }
  }
}

/* pseudo-elements create */
/* p::after {
  content: '?';
} */

/* Specificity 0,0,0,0. Inline-styles,id,class,element */
body h1 {
  text-align: center;
  padding: 5px;
}
body h1.splindedtxt {
  padding: 15px;
}

table {
  align-items: center;
  border: 2px solid $mainFont;
  width: 300px;
  height: auto;
  margin: 10px;
}

.Gaara {
  width: 10px;
  height: 10px;
  margin-left: 30px;
}

#goonDune {
  position: relative;
}

/* Flexbox example */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  max-width: 100%;
  font-size: 20px;
}

/* nesting */
form .formbuttons {
  float: inherit;
}

.typefields:hover {
  background: rgba(255, 255, 0, 0.11);
  color: rgb(0, 0, 0);
}

.trap {
  font-size: 50px;
  color: #333;
  text-align: center;
  margin-block: 1em;
  display: none;
}

div#controls {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #333;
  padding: 5px;
}
.buttons {
  padding: 10px;
}
.item2 p,
h3 {
  margin: 35px 35px 35px 35px;
}
